<div class="samples-wrapper">

  <h1>Upload Sample</h1>

  <%= render 'samples/shared/error_messages' %>

  <%= form_with model: @article do |form| %>
    <div class="field">
      <%= form.label :name, "name" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description, "description" %>
      <%= form.text_area :description %>
    </div>

    <div class="field file">
      <%= form.label :audio_file, 'audio file' %>
      <%= form.file_field :audio_file %>
    </div>
    
    <div class="actions">
      <%= form.submit 'upload' %>
    </div>
  <% end %>

</div>