<h1>New Article</h1>

<%= render 'samples/shared/error_messages' %>

<%= form_with model: @article do |form| %>
  <div class="field">
    <%= form.label :name, "name" %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, "description" %><br>
    <%= form.text_area :desctription %>
  </div>

  <div class="field">
    <%= form.label :length, 'length (milliseconds)' %><br>
    <%= form.number_field :body %><br>
  </div>

  <div class="field">
    <%= form.label :audio_file, 'file' %>
    <%= form.file_field :audio_file %>
  </div>
  
  <div class="actions">
    <%= form.submit, 'upload' %>
  </div>
<% end %>