<div class="sample-wrapper">
  <div class="name-actions">
    <h1><%= @sample.name %></h1>
    <div class="stats">
      <div>
        <span><%= @likes %></span>
        <%= image_tag 'like-dark.svg' %>
      </div>
      <div>
        <span><%= @downloads %></span>
        <%= image_tag 'download-dark.svg' %>
      </div>
    </div>
    <audio class="preview" controls controlsList="nodownload" preload="metadata">
      <source src="<%= rails_blob_url(@sample.audio_file) %>" type="<%= @sample.audio_file.content_type %>">
    </audio>
    <div class="actions">
      <% if current_user && current_user.id != @sample.user_id %>
        <% if !@liked %>
          <%= button_to 'like', like_sample_path(@sample.id), method: :post, class: 'dark' %>
        <% else %>
          <%= button_to 'unlike', unlike_sample_path(@sample.id), method: :delete, class: 'dark' %>
        <% end %>
        <% if !@downloaded %>
          <%= link_to 'download', download_sample_path(@sample.id), class: 'dark' %>
        <% else %>
          <%= link_to 'download', rails_blob_url(@sample.audio_file), class: 'dark' %>
        <% end %>
      <% end %>
      <% if current_user && current_user.id == @sample.user_id %>
        <%= link_to 'download', rails_blob_url(@sample.audio_file), class: 'dark' %>
        <%= link_to 'edit', edit_sample_path(@sample), class: 'edit dark' %>
      <% end %>
    </div>
  </div>
  <div class="description">
    <h2>Description</h2>
    <% if @sample.description %>
      <p><%= @sample.description %></p>
    <% else %>
      <p>No description...</p>
    <% end %>
    <% if !(current_user && current_user.id == @creator.id) %>
      <div class="creator">
        <%= link_to "@#{@creator.username}", creator_path(@creator.username) %>
      </div>
    <% end %>
  </div>
  <% if @sample.tag_list.count != 0 %>
    <div class="tags">
      <% @sample.tag_list.each do |tag| %>
        <%= link_to "##{tag}",  show_tag_path(tag), class: 'light-hover' %>
      <% end %>
    </div>
  <% end %>
  <div class="properties">
    <h2>Properties</h2>
    <div class="property">
      <div class="name">duration</div>
      <div class="value"><%= @sample.duration %></div>
    </div>
    <div class="property">
      <div class="name">bit depth</div>
      <div class="value"><%= @sample.bit_depth %></div>
    </div>
    <div class="property">
      <div class="name">sample rate</div>
      <div class="value"><%= @sample.sample_rate %>Hz</div>
    </div>
  </div>
  <section class="comments-section">
    <h2>Comments</h2>
    <% @comments_info.each do |info| %>
      <div class="comment-card">
        <div class="user">
          <% if info[:user].avatar %>
            <%= image_tag info[:user].avatar.variant(resize_to_limit: [100, 100]) %>
          <% else %>
            <%= image_tag 'user-icon-dark.png' %>
          <% end %>
          <div class="details">
            <h5>@<%= info[:user].username %></h5>
            <span><%= info[:comment].created_at.strftime("%Y-%m-%d") %>
          </div>
          <div class="likes">
            <span><%= info[:likes] %></span>
            <%= image_tag 'like-dark.svg' %>
          </div>
        </div>
        <%= info[:comment].content %>
        <% if current_user && current_user.id == info[:comment].user_id %>
          <div class="actions">
            <%= link_to 'edit', edit_sample_comment_path(sample_id: info[:comment].sample_id, comment_id: info[:comment].id), class: 'dark' %>
            <%= button_to 'delete', delete_sample_comment_path(sample_id: info[:comment].sample_id, comment_id: info[:comment].id), method: :delete, class: 'dark' %>
          </div>
        <% end %>
        <% if current_user && current_user.id != info[:comment].user_id %>
          <div class="actions">
            <% if info[:liked] %>
              <%= button_to 'unlike', unlike_sample_comment_path(sample_id: info[:comment].sample_id, comment_id: info[:comment].id), method: :delete, class: 'dark' %>
            <% else %>
              <%= button_to 'like', like_sample_comment_path(sample_id: info[:comment].sample_id, comment_id: info[:comment].id), method: :post, class: 'dark' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if current_user %>
      <%= form_with class: 'new-comment', url: sample_comments_path(@sample.id), model: @comment do |form| %>
        <div class="field">
          <%= form.rich_text_area :content, placeholder: 'enter a comment here...' %>
        </div>
        <div class="actions">
          <%= form.submit 'comment' %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>