<div class="samples-wrapper">
  <div class="name-actions">
    <h1><%= @sample.name %></h1>
    <div class="actions">
      <% if current_user && !(current_user.id == @sample.user_id) %>
        <%= link_to 'download', download_sample_path(@sample.id) %>
      <% end %>
      <% if current_user && current_user.id == @sample.user_id %>
        <%= link_to 'download', rails_blob_url(@sample.audio_file) %>
        <%= link_to 'edit', edit_sample_path(@sample), class: 'edit' %>
      <% end %>
    </div>
  </div>
  <audio class="preview" controls controlsList="nodownload" preload="metadata">
    <source src="<%= rails_blob_url(@sample.audio_file) %>" type="<%= @sample.audio_file.content_type %>">
  </audio>
  <% if @sample.tag_list.count != 0 %>
    <div class="tags">
      <% @sample.tag_list.each do |tag| %>
        <%= link_to "##{tag}",  show_tag_path(tag) %>
      <% end %>
    </div>
  <% end %>
  <div class="description">
    <h2>Description</h2>
    <% if @sample.description %>
      <p><%= @sample.description %></p>
    <% else %>
      <p>No description...</p>
    <% end %>
  </div>
  <div class="properties">
    <h2>Properties</h2>
    <div class="property">
      <div class="name">duration</div>
      <div class="value"><%= @sample.duration %></div>
    </div>
    <div class="property">
      <div class="name">bit depth</div>
      <div class="value"><%= @sample.bit_depth %></div>
    </div>
    <div class="property">
      <div class="name">sample rate</div>
      <div class="value"><%= @sample.sample_rate %>Hz</div>
    </div>
  </div>
  <% if current_user && current_user.id == @sample.user_id %>
    <div class="danger-zone">
      <h2>DANGER ZONE</h2>
      <div class="actions">
        <%= link_to 'DELETE SAMPLE', delete_sample_path(@sample), method: :delete %>
      </div>
    </div>
  <% end %>
  <% if !(current_user && current_user.id == @creator.id) %>
    <div class="creator">
      <%= image_tag @creator.avatar %>
      <h3>Created by @<%= @creator.username %></h3>
    </div>
  <% end %>
</div>