<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :username, "username" %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :first_name, "first name" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name, "last name" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <p>Ignore the following field to keep your current avatar:</p>

  <div class="field">
    <%= f.label :avatar, "new avatar" %>
    <%= f.file_field :avatar, class: 'avatar' %>
  </div>

  <p>Leave the following two fields blank to keep your current password:</p>

  <div class="field">
    <%= f.label :password, "new password" %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "confirm password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field creator">
    <%= f.label :is_creator, "I want to be a creator" %>
    <%= f.check_box :is_creator, autocomplete: "is_creator" %>
  </div>

  <p>
    If you're a creator, the text you enter here will be shown
    as a blurb on your page:
  </p>

  <div class="field">
    <%= f.text_area :blurb, autocomplete: "blurb", maxlength: 150 %>
  </div>

  <p>Enter your current password to confirm changes:</p>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= link_to "back", :back %>
    <%= f.submit "update" %>
  </div>
<% end %>

<div class="danger-zone">
  <h3>Danger Zone</h3>

  <p>Unhappy? </p>

  <%= button_to "delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>