<h1>Creators</h1>
<div class="creators">
  <% @creators.each do |creator| %>
    <div class="card">
      <% if creator.avatar.present? %>
        <div class="avatar">
          <%= image_tag creator.avatar.variant(resize_to_limit: [200, 200]) %>
        </div>
      <% else %>
        <div class="avatar">
          <%= image_tag 'user-icon.svg' %>
        </div>
      <% end %>
      <h3 class="username">@<%= creator.username %></h3>
      <%= link_to "view profile", creator_path(creator.username), class: 'creator-link' %>
    </div>
  <% end %>
  <% if @creators.length == 0 %>
    <div class="nothing-to-show">
      <p>There are currently no creators...</p>
      <% if current_user %>
        <%= link_to 'be the first', profile_path, class: 'dark' %>
      <% else %>
        <%= link_to 'be the first', new_user_registration_path, class: 'dark' %>
      <% end %>
    </div>
  <% end %>
</div>