<div class="creator-info">
  <% if @creator.avatar.present? %>
  <div class="avatar">
    <%= image_tag @creator.avatar %>
  </div>
  <% else %>
  <div class="avatar">
    <%= image_tag 'user-icon-dark.svg' %>
  </div>
  <% end %>
  <div class="names">
    <h2 class="full-name"><%= @creator.first_name %> <%= @creator.last_name %></h2>
    <h3 class="username">@<%= @creator.username %></h3>
  </div>
  <div class="stats">
    <span><%= pluralize(@samples_info.count, 'sample') %></span>
  </div>
</div>
<div class="creator-tags">
  <% @tags.each do |tag| %>
    <%= link_to "##{tag}", show_tag_path(tag) %>
  <% end %>
</div>
<% if @creator.blurb %>
  <div class="blurb">
    <%= @creator.blurb %>
  </div>
<% end %>
<div>
  <%= render 'shared/samples' %>
</div>
<% if @samples_info.length == 0 %>
  <div class="creator-nothing-to-show">
    <p>Nothing to show here... YET!</p>
  </div>
<% end %>