<% if @samples.length == 0 %>
  <div class="nothing-to-show">
    <p>Nothing to show yet...</p>
    <%= link_to 'upload samples', upload_path %>
  </div>
<% else %>
  <div class="uploads-wrapper">
    <% @samples.each do |sample| %>
      <div class="card">
        <div class="name-details">
          <h3 class="name"><%= sample.name %></h3>
          <span class="duration"><%= sample.duration / 1000.00 %>seconds</span>
          <button class="details">
            details
          </button>
        </div>
        <audio class="preview" controls controlsList="nodownload" preload="metadata">
          <source src="<%= rails_blob_url(sample.audio_file) %>" type="<%= sample.audio_file.content_type %>">
        </audio>
      </div>
    <% end %>
  </div>
<% end %>

