<!DOCTYPE html>
<html>
  <head>
    <title>SampleSpace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag asset_path('logo-dark.svg') %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/menu' %>
    <main>
      <section class="content-wrapper profile">
        <%= render 'shared/flash' %>
        <div class="info">
          <% if current_user.avatar.present? %>
            <div class="avatar">
              <%= image_tag current_user.avatar %>
            </div>
          <% else %>
            <div class="avatar">
              <%= image_tag 'user-icon-dark.svg' %>
            </div>
          <% end %>
          <div class="names">
            <h2 class="full-name"><%= current_user.first_name %> <%= current_user.last_name %></h2>
            <h3 class="username">@<%= current_user.username %>
          </div>
          <div class="actions">
            <% if current_user.is_creator %>
              <%= link_to 'upload', upload_path, class: 'upload dark shadow' %>
            <% end %>
            <%= link_to 'edit', edit_user_registration_path, class: 'dark shadow' %>
          </div>
        </div>
        <div class="dashboard">
          <%= render 'profile/shared/nav' %>
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </section>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
